
@{
    ViewBag.Title = "Get Courses";
}
@using Weather.Models;

<h2>Get Courses</h2>

@*<p id="courses"></p>
<p id="credits"></p>
<p id="description"></p>

<div class="col-md-12">
    <h2>courses: <span data-bind="Text[0]:title"</span></h2>

</div>*@

<button>Get Courses</button>

@*<script>
    var courses = Object();

    $(document).ready(function () {
        $("button").click(function () {
            $.get("@Url.Action("GetCourses", "Home")", function (response) {
                //$("#courses").text(response.courses[0].title);
                //$("#credits").text(response.courses[0].credits);
                //$("#description").text(response.courses[0].description);
                console.log(response);
            });
        });
    });


</script>*@

<body>
    <ul>
        @foreach (var m in Model)
        {
            <li>@m.Title</li>}
    </ul>

</body>