
@{
    ViewBag.Title = "WeatherJS";
}

<h2>WeatherJS</h2>

<p id="courses"></p>
<p id="credits"></p>
<p id="description"></p>

<button>Get Request</button>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.get("https://www2.bellevuecollege.edu/data/api/v1/courses/engl", function (response) {
                $("#courses").text(response.courses[0].title);
                $("#credits").text(response.courses[0].credits);
                $("#description").text(response.courses[0].description);
                console.log(response);
            });
        });
    });


</script>